.block-format-context {
    .text {
        margin: 20rpx 0;
    }
    .margin-test {
        .example {
            border-bottom: 2rpx solid #e8e8e8;
        }
        .box {
            margin: 20rpx;
        }
        .large {
            margin: 40rpx 20rpx;
        }
    }
    .sticky-top {
        @include sticky(0, auto, auto, auto, navajowhite, chocolate);
    }
    .head {
        background: linear-gradient(45deg, black, transparent);
        color: #fff;
        text-indent: 20rpx;
    }
    .box {
        width: 150rpx;
        height: 150rpx;
        background: red;
    }
    .height-test .example, .overlapping-test .example {
        margin-bottom: 50rpx;
        background: bisque;
        .float {
            float: left;
            height: 100rpx;
            background: palegreen;
        }
    }
    .overflow {
        overflow: hidden;
    }   
    .collapse {
        margin-top: 50rpx;
        background: lightgray;
        .box {
            margin-top: 20rpx;
        }
    }
}
