// flex layout
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    // align-items: center;
}
.flex-1 {
    flex: 1;
}
.flex-wrap {
    flex-wrap: wrap;
}

// font-size
.fz-12 {
    font-size: 24rpx;
}
.fz-13 {
    font-size: 26rpx;
}
.fz-14 {
    font-size: 28rpx;
}
.fz-24 {
    font-size: 48rpx;
}
