.block-format-context {
    .head {
        background: maroon;
    }
    .height-test .example, .overlapping-test .example {
        background: navy;
    }
    .collapse {
        background: blue;
    }
}
